---
import { basics } from "@cv";
import GitHubIcon from "@/icons/github.astro";
import LinkedInIcon from "@/icons/linkedin.astro";
import MailIcon from "@/icons/mail.astro";
---

<header>
  <div class="max-w-7xl w-full flex flex-row justify-between">
    <a href="/" class="text-red-100 font-bold font-soria text-xl">J U A N . D L</a
    >
    <div class="flex flex-row gap-8">
      <a
        href={basics.profiles[0].url}
        target="_blank"
        class="text-white font-bold"
        title={basics.profiles[0].network}
      >
        <LinkedInIcon />
      </a>
      <a
        href={basics.profiles[1].url}
        target="_blank"
        class="text-white font-bold"
        title={basics.profiles[0].network}
      >
        <GitHubIcon />
      </a>
      <span
        id="emailLink"
        class="text-white font-bold cursor-pointer"
        title={"Email"}
      >
        <MailIcon />
      </span>
    </div>
  </div>
</header>

<script>
  import { basics } from "@cv";
  /**
   * copy the email to the clipboard
   */
  const copyText = document.getElementById("emailLink");
  copyText.addEventListener("click", (e) => {
    navigator.clipboard.writeText(basics.email);
    alert(`email ${basics.email} copied to clipboard`);
  });
</script>

<style>
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0.8rem 0rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    z-index: 10;
  }

  @media not all and (min-width: 768px) {
    header {
      padding: 0.8rem 1rem;
    }
  }
</style>
