---
import ExternalLink from "../icons/external-link.astro";
import TechTag from "./TechTag.astro";

interface Props {
  date: string;
  placeName: string;
  position: string;
  url?: string;
  summary?: string;
  technollogies?: string[];
}

const { date, placeName, position, url, summary, technollogies } = Astro.props;
---

<div class="bg-white flex flex-col rounded-3xl py-16 px-8">
  <a
    class="cursor-pointer text-md leading-3 flex items-center gap-1"
    href={url}
    target="_blank"
  >
    {placeName}
    <ExternalLink size="18" />
  </a>
  <p class="font-bold text-lg mb-2">{position}</p>
  <p class="text-wrap leading-snug text-gray-700">{summary}</p>
  <div class="flex flex-row mt-4 gap-1 flex-wrap">
    {technollogies.map((e) => <TechTag name={e} />)}
  </div>
</div>
