---
import Iconify from "./Iconify.astro";
import TechTag from "./TechTag.astro";

interface Props {
  name: string;
  description: string;
  technologies: string[];
  links: any[];
}

const { name, description, technologies, links } = Astro.props;
---

<!-- <LinkIcon size={16} />
                <span class="ml-2 text-sm">{name}</span> -->
<div id="project" class="flex dir-col items-center py-7 mr-10">
  <div>
    <!-- NAME -->
    <p class="text-lg text-accent">{name.toUpperCase()}</p>
    <!-- DESCRIPTION -->
    <p class="text-base font-montserrat">{description}</p>

    <!-- LINKS -->
    <div class="my-3">
      <ul id="project-links">
        {
          links.map(({ name, link }) => (
            <label class="mr-6">
              <a
                id={`${name}-link`}
                class="inline-flex cursor-pointer"
                href={link}
                target="_blank"
              >
                <Iconify label={name} iconSize={20} />
              </a>
            </label>
          ))
        }
      </ul>
    </div>
    <!-- TAGS -->
    <ul>
      {technologies.map((tech) => <TechTag name={tech} />)}
    </ul>
  </div>
</div>

<style>
  #project ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  #project-links {
    font-weight: normal;
    font-size: small;
  }
</style>
