---
interface Props {
  smallTitle: string;
  bigTitle: string;
  className?: string;
}

const { smallTitle, bigTitle, className } = Astro.props;
---

<div
  id={`${smallTitle}-${bigTitle}-title`}
  class="mb-16 flex flex-row justify-between items-end leading-5"
>
  <div>
    <p class={`font-bold ${className}`}>{smallTitle}</p>
    <p class={`text-7xl font-bold ${className} font-soria h-20 content-center`}>{bigTitle}</p>
  </div>
  <div>
    <slot />
  </div>
</div>

<style>
  .gradient1 {
    background-image: linear-gradient(51deg, #004c94 45%, #297bc4 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
  .gradient2 {
    background-image: linear-gradient(200deg, #ffb310 45%, #ee1b67 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
  .gradient3 {
    background-image: linear-gradient(200deg, #56cfb1 45%, #3a8ece 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }
</style>
